.bug {
  background: url(/assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(/assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 105%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-bug);
  box-shadow: 0 0.25rem 1.4rem -0.35rem var(--type-bug);
}
.dark {
  background: url(/assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(/assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 105%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-dark);
  box-shadow: 0 0.25rem 1.4rem -0.35rem var(--type-dark);
}
.dragon {
  background: url(/assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(/assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 105%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-dragon);
  box-shadow: 0 0.25rem 1.4rem -0.35rem var(--type-dragon);
}
.electric {
  background: url(/assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(/assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 105%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-electric);
  box-shadow: 0 0.25rem 1.4rem -0.35rem var(--type-electric);
}
.fairy {
  background: url(/assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(/assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 105%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-fairy);
  box-shadow: 0 0.25rem 1.4rem -0.35rem var(--type-fairy);
}
.fighting {
  background: url(/assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(/assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 105%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-fighting);
  box-shadow: 0 0.25rem 1.4rem -0.35rem var(--type-fighting);
}
.fire {
  background: url(/assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(/assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 105%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-fire);
  box-shadow: 0 0.25rem 1.4rem -0.35rem var(--type-fire);
}
.flying {
  background: url(/assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(/assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 105%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-flying);
  box-shadow: 0 0.25rem 1.4rem -0.35rem var(--type-flying);
}
.ghost {
  background: url(/assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(/assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 105%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-ghost);
  box-shadow: 0 0.25rem 1.4rem -0.35rem var(--type-ghost);
}
.grass {
  background: url(/assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(/assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 105%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-grass);
  box-shadow: 0 0.25rem 1.4rem -0.35rem var(--type-grass);
}
.ground {
  background: url(/assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(/assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 105%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-ground);
  box-shadow: 0 0.25rem 1.4rem -0.35rem var(--type-ground);
}
.ice {
  background: url(/assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(/assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 105%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-ice);
  box-shadow: 0 0.25rem 1.4rem -0.35rem var(--type-ice);
}
.normal {
  background: url(/assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(/assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 105%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-normal);
  box-shadow: 0 0.25rem 1.4rem -0.35rem var(--type-normal);
}
.poison {
  background: url(/assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(/assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 105%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-poison);
  box-shadow: 0 0.25rem 1.4rem -0.35rem var(--type-poison);
}
.psychic {
  background: url(/assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(/assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 105%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-psychic);
  box-shadow: 0 0.25rem 1.4rem -0.35rem var(--type-psychic);
}
.rock {
  background: url(/assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(/assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 105%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-rock);
  box-shadow: 0 0.25rem 1.4rem -0.35rem var(--type-rock);
}
.steel {
  background: url(/assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(/assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 105%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-steel);
  box-shadow: 0 0.25rem 1.4rem -0.35rem var(--type-steel);
}
.water {
  background: url(/assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(/assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 105%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-water);
  box-shadow: 0 0.25rem 1.4rem -0.35rem var(--type-water);
}
