.bug {
  background: url(assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 110%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-bug);
}
.dark {
  background: url(assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 110%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-dark);
}
.dragon {
  background: url(assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 110%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-dragon);
}
.electric {
  background: url(assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 110%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-electric);
}
.fairy {
  background: url(assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 110%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-fairy);
}
.fighting {
  background: url(assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 110%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-fighting);
}
.fire {
  background: url(assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 110%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-fire);
}
.flying {
  background: url(assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 110%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-flying);
}
.ghost {
  background: url(assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 110%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-ghost);
}
.grass {
  background: url(assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 110%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-grass);
}
.ground {
  background: url(assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 110%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-ground);
}
.ice {
  background: url(assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 110%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-ice);
}
.normal {
  background: url(assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 110%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-normal);
}
.poison {
  background: url(assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 110%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-poison);
}
.psychic {
  background: url(assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 110%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-psychic);
}
.rock {
  background: url(assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 110%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-rock);
}
.steel {
  background: url(assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 110%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-steel);
}
.water {
  background: url(assets/patterns/pokeballPokeCards.svg) no-repeat,
    url(assets/patterns/6x3.svg) no-repeat;
  background-size: 10.25rem, 5rem;
  background-position-x: 110%, 35%;
  background-position-y: 50%, 10%;
  background-color: var(--bg-type-water);
}
