.bugType {
  background-color: var(--type-bug);
}
.darkType {
  background-color: var(--type-dark);
}
.dragonType {
  background-color: var(--type-dragon);
}
.electricType {
  background-color: var(--type-electric);
}
.fairyType {
  background-color: var(--type-fairy);
}
.fightingType {
  background-color: var(--type-fighting);
}
.fireType {
  background-color: var(--type-fire);
}
.flyingType {
  background-color: var(--type-flying);
}
.ghostType {
  background-color: var(--type-ghost);
}
.grassType {
  background-color: var(--type-grass);
}
.groundType {
  background-color: var(--type-ground);
}
.iceType {
  background-color: var(--type-ice);
}
.normalType {
  background-color: var(--type-normal);
}
.poisonType {
  background-color: var(--type-poison);
}
.psychicType {
  background-color: var(--type-psychic);
}
.rockType {
  background-color: var(--type-rock);
}
.steelType {
  background-color: var(--type-steel);
}
.waterType {
  background-color: var(--type-water);
}
