.bugTypeFilter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
    brightness(106%) contrast(105%);
}
.darkTypeFilter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
    brightness(106%) contrast(105%);
}
.dragonTypeFilter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
    brightness(106%) contrast(105%);
}
.electricTypeFilter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
    brightness(106%) contrast(105%);
}
.fairyTypeFilter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
    brightness(106%) contrast(105%);
}
.fightingTypeFilter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
    brightness(106%) contrast(105%);
}
.fireTypeFilter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
    brightness(106%) contrast(105%);
}
.flyingTypeFilter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
    brightness(106%) contrast(105%);
}
.ghostTypeFilter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
    brightness(106%) contrast(105%);
}
.grassTypeFilter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
    brightness(106%) contrast(105%);
}
.groundTypeFilter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
    brightness(106%) contrast(105%);
}
.iceTypeFilter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
    brightness(106%) contrast(105%);
}
.normalTypeFilter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
    brightness(106%) contrast(105%);
}
.poisonTypeFilter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
    brightness(106%) contrast(105%);
}
.psychicTypeFilter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
    brightness(106%) contrast(105%);
}
.rockTypeFilter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
    brightness(106%) contrast(105%);
}
.steelTypeFilter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
    brightness(106%) contrast(105%);
}
.waterTypeFilter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(152deg)
    brightness(106%) contrast(105%);
}
