@import 'pokemonHeightsAndWeights';
@import 'pokemonBackground';
@import 'pokemonTypeFilter';
@import 'pokemonTypes';
@import 'variables';

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 680px) {
    font-size: 87.5%;
  }
}

body {
  max-width: 1240px;
  margin: 0 auto;
  padding: 2.5rem;
  font: 400 1rem 'Poppins', sans-serif;
  color: #000;

  background: url(assets/patterns/pokeballBody.svg) no-repeat;
  background-position: top center;
  background-size: 420px;
  background-position-y: -8%;
}

.react-modal-overlay {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;

  &.active {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    overflow: visible;
    clip: auto;
    white-space: normal;

    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.react-modal-content {
  margin-top: auto;
  width: 100%;
  background: var(--text-white);
  padding: 2rem 2.75rem;
  border-radius: 2rem 2rem 0 0;
  position: relative;
  animation: ModalScrollUp ease forwards 0.5s;

  h2 {
    font-size: 1.85rem;
  }
}

@keyframes ModalScrollUp {
  0% {
    transform: translateY(105%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

button {
  font: 400 1rem 'Poppins', sans-serif;
  cursor: pointer;
}

[disabled] {
  cursor: not-allowed;
}
