@import 'pokemonBackground';
@import 'pokemonTypes';
@import 'variables';

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 680px) {
    font-size: 87.5%;
  }
}

body {
  // min-height: 100vh;
  max-width: 1240px;
  margin: 0 auto;
  padding: 2.5rem;
  font: 400 1rem 'Poppins', sans-serif;
  color: #000;

  background: url(assets/patterns/pokeballBody.svg) no-repeat;
  background-size: 420px;
  background-position-y: -8%;
}
