:root {
  // Background colors and types for Pokémon
  --bg-type-bug: #8bd674;
  --type-bug: #8cb230;
  --bg-type-dark: #6f6e78;
  --type-dark: #58575f;
  --bg-type-dragon: #7383b9;
  --type-dragon: #0f6ac0;
  --bg-type-electric: #f2cb55;
  --type-electric: #eed535;
  --bg-type-fairy: #eba8c3;
  --type-fairy: #ed6ec7;
  --bg-type-fighting: #eb4971;
  --type-fighting: #d04164;
  --bg-type-fire: #ffa756;
  --type-fire: #fd7d24;
  --bg-type-flying: #83a2e3;
  --type-flying: #748fc9;
  --bg-type-ghost: #8571be;
  --type-ghost: #556aae;
  --bg-type-grass: #8bbe8a;
  --type-grass: #62b957;
  --bg-type-ground: #f78551;
  --type-ground: #dd7748;
  --bg-type-ice: #91d8df;
  --type-ice: #61cec0;
  --bg-type-normal: #b5b9c4;
  --type-normal: #9da0aa;
  --bg-type-poison: #9f6e97;
  --type-poison: #a552cc;
  --bg-type-psychic: #ff6568;
  --type-psychic: #ea5d60;
  --bg-type-rock: #d4c294;
  --type-rock: #baab82;
  --bg-type-steel: #4c91b2;
  --type-steel: #417d9a;
  --bg-type-water: #58abf6;
  --type-water: #4a90da;

  // Background for other elements
  --bg-default-input: #f2f2f2;
  --bg-pressed-input: #e2e2e2;
  --bg-modal: #00000025;

  // Text color
  --text-white: #fff;
  --text-black: #000;
  --text-grey: #747476;
  --text-number: #17171b60;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 680px) {
    font-size: 87.5%;
  }
}

body {
  min-height: 100vh;
  font: 400 1rem 'Poppins', sans-serif;
  background: url('assets/patterns/pokeball.svg') no-repeat;
  background-color: #fff;
  background-position: top center;
  background-size: 420px;
  background-position-y: -50%;

  color: #000;
}
