.headerIcons {
  display: flex;
  align-items: center;
  justify-content: end;

  margin-bottom: 2.5rem;

  .filterButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 9.5rem;
  }

  button {
    border: 0;
    padding: 0;
    margin: 0;
    background: transparent;
    cursor: pointer;
  }
}
